/* Pseudo clases (estados del elemento) */
a, 
a:visited
{
    color:blue;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

a:active
{
    color: orange;
}

a:focus
{
    background-color: lightgray;
}